


.box{ 
    width:10%;
    background-color: rgba(0,0,0,0.5);
    border-radius:10px
}

.temp{
   width:30%;
   background-color: rgba(0,0,0,0.5);
   margin-left:35%
}

.desc{
    margin-top: 10px;
    color: black;
}

.searchBar{
   width:60%;
   align-items:center;
   padding:13px;
   margin-left:20%

}

.leaflet-container { 
    margin-left: 25%;
    margin-top: 10px;
    height: 300px;
    width: 50%; 
}
